# My research projects

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
x64/
x86/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
#Nuget packages folder
packages/

